@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <style>
        h1 {
            background-color: pink;
            width: 200px;
            height: 200px;
        }

        p {
            background-color: aqua;
            width: 200px;
            height: 200px;
        }

     
        }
        .navigasi {
         

            background-color:deeppink;
            display:block;
        }
        .link {
            display:block;
            background-color:pink;
            
        }
        b.link{
            background-color:forestgreen;
            display:inline-block;
        }
    </style>
</head>
<body>
    <h1>Halo</h1>
    <p> Testing</p>
    <div class="link">
        <a href="g">Ini Link 1</a>
        <b href="g">Ini Link 2</b>
        <a href="g">Ini Link 3</a>
        <a href="g">Ini Link 4</a>
    </div> 
 
    <div class="navigasi">
        <p> belajar CSS</p>
    </div>
      
</body>
</html>