@*@section Scripts{
    <script src="~/js/clientJS.js"></script>
}*@

<!--<h1 id=" judul">Hello World</h1>
<div id="Container">
    <section id="a">
        <p class="p1">paragraf 1</p>
        <a href="  #"> ini link</a>
        <p class="p2">paragraf 2 </p>
        <p class="p3">paragraf 3</p>
    </section>
    <section id="b">
        <p id="a"> paragraf 4  </p>
        <ul>
            <li>item 1</li>
            <li>item 2</li>
            <li>item 3</li>
        </ul>
    </section>
    </-->

    <!--<table class="table table-striped">
        <thead >
            <tr>
                <td>No</td>
                <td>NIK</td>-->
    <!--<td>Tinggi</td>
    <td>Berat Badan</td>
    <td>Warna Kulit</td>
    <th>Action</th>-->
    <!--</tr>
        </thead>
        <tbody id="nik"></tbody>
    </table>-->

    <!--<div class="container">
        <br><br>
        <button type="button" class="btn">detail</button>
    </div>
    <h1>Starwars</h1>
    <ul id="swapi"> </ul>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Pokemon Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>-->